<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appmenu">

    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- Cấp quyền truy cập Danh bạ -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Cấp quyền truy cập thẻ nhớ -->
    <uses-permission android:name="android.permission.READ_HISTORY_BOOKMARKS" />  <!-- Cấp quyền truy cập Lịch sử cuộc gọi -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppMenu">
        <service
            android:name=".WeatherService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".Service2Activity" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ServiceActivity" />
        <activity android:name=".ContactsActivity" />
        <activity android:name=".SqliteActivity" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".FirstActivity" />
        <activity android:name=".NextActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".CustomListViewArrayAdapterActivity" />
        <activity android:name=".ListViewActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SumActivity" />
        <receiver android:name=".Receiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>